<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">New Jobs</h4>
                <button class="btn btn-round btn-info pull-right" [routerLink]="'/home'">Create Job</button>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date Created</th>
                                <th>Car</th>
                                <th>Client Name</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">December 16, 2020</th>
                                <td>2003 Saturn Vue</td>
                                <td>Tristan Hull</td>
                                <td>NEW</td>
                            </tr>
                            <tr>
                                <th scope="row">December 12, 2020</th>
                                <td>2010 Ford Focus</td>
                                <td>Joshua Benz</td>
                                <td>NEW</td>
                            </tr>
                            <tr>
                                <th scope="row">December 2, 2020</th>
                                <td>2019 Kia Poolah</td>
                                <td>Frank Swartz</td>
                                <td>NEW</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header mb-4">
                <h4 class="card-title">Open Jobs</h4>
                <!-- <button class="btn btn-round btn-info pull-right" [routerLink]="'/home'">Create Job</button> -->
            </div>
            <div class="card-content">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Date Created</th>
                            <th>Car</th>
                            <th>Client Name</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">December 2, 2020</th>
                                <td>2019 Kia Poolah</td>
                                <td>Frank Swartz</td>
                                <td>OPEN</td>
                            </tr>
                            <tr>
                                <th scope="row">December 16, 2020</th>
                                <td>2003 Saturn Vue</td>
                                <td>Tristan Hull</td>
                                <td>OPEN</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


        