<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-success">New Jobs</h4>
                <button class="btn btn-round btn-info pull-right" [routerLink]="'/home'">Create Job</button>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date Created</th>
                                <th>Car</th>
                                <th>Client Name</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="cursor-pointer" *ngFor="let newJob of newJobs" [routerLink]="'/home'">
                                <th scope="row">{{ newJob.date }}</th>
                                <td>{{ newJob.car }}</td>
                                <td>{{ newJob.name }}</td>
                                <td class="text-success">NEW</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header mb-4">
                <h4 class="card-title text-primary">Open Jobs</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date Created</th>
                                <th>Car</th>
                                <th>Client Name</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="cursor-pointer" *ngFor="let newJob of newJobs" [routerLink]="'/home'">
                                <th scope="row">{{ newJob.date }}</th>
                                <td>{{ newJob.car }}</td>
                                <td>{{ newJob.name }}</td>
                                <td class="text-primary">OPEN</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>


        